<div class="row">
    <div class="ms-auto mb-2 mb-lg-0">
        <div class="container-fluid">
            <div class="footer">

                <h2>Contact</h2>

                <div class="two-parts">

                    <div class="left-part">
                        <h3>27 Rue des Moineaux</h3>
                        <h3>97 400  Erebor</h3>
                    </div>

                    <div class="center-part">
                        <img src="{{ asset('../../images/fleur-footer.png') }}" alt="">
                    </div>

                    <div class="right-part">
                        <h3>66.66.66.66.66</h3>
                        <h3>pdr-lestrange@gmail.com</h3>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

