<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#  Affichage titre venant de la vue (bloc title) + nom du site  #}
    <title>Accueil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ysabeau+Office:ital,wght@0,1;0,100;0,200;0,300;1,1;1,100;1,200&family=Ysabeau+SC:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/{{ asset('styles/styles.css') }}">
    {#  CSS additionnel  #}
    {% include 'partials/css_stronger_than_bootstrap.html.twig' %}
</head>

    {# Inclusion de la bannière et du menu principal du site #}
    {% include 'partials/header_and_main_navbar.html.twig' %}
<body>

    {#  Section explicative  #}
    <section>

        <div class="row">
            <div class="ms-auto mb-2 mb-lg-0">
                <div class="container-fluid">
                    <div class="explication-section">

                        <h2 class="section-what">_ C'est quoi ?</h2>

                        <div>
                            <img class="fleur-accueil-1" src="{{ asset('../../images/fleur-accueil-1.png') }}" alt="">
                        </div>

                        <div class="two-parts">

                            <div class="left-part">
                                <p class="what-is-it">Bienvenue sur <u>l'Ombre de toi</u> ! C'est avec grand plaisir que nous t'accueillons sur notre site ! Tu viens de rentrer dans l'univers des personnes présentant des troubles de la personnalité borderline. Tu ne sais pas ce que c'est ? Tant mieux, ce site ) été réfléchi à des fins d'information, pour toi, et/ou ton entourage. Nous nous appuyons sur des articles et vidéos pour expliquer le plus simplement possible la pathologie. <br> Tu trouveras également une section discussion, qui comprends des articles postés par les membres du site ! Un bon moyen d'en savoir plus, et d'obtenir des témoignages de personnes présentant la pathologie. En gros, sur l'Ombre de toi, on apprends, et on partage !</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container-fluid">
            <div class="photo-accueil"></div>
        </div>
    </section>
    {#  Section TPB  #}
    <section>
        <div class="row">
            <div class="ms-auto mb-2 mb-lg-0">
                <div class="container-fluid">
                    <div class="tpb-section">

                        <h2 class="section-tpb">_ TPB ?</h2>

                        <div>
                            <img class="fleur-accueil-2" src="{{ asset('../../images/fleur-accueil-2.png') }}" alt="">
                        </div>

                        <div class="two-parts">

                            <div class="left-part">
                                <p class="tpb"><span>Le <u>Trouble de la Personnalité Borderline</u>, ou état limite, se caractérise par une tendance constante à l'instabilité et l'hypersensibilité dans les relations interpersonnelles, l'instabilité au niveau de l'image de soi, des fluctuations d'humeur extrêmes, et l'impulsivité. Le peur de l'abandon, qu'il soit réeel ou fantasmé est aussi l'un des symptômes de cette pathologie. En prennant en compte le sentiment de vide chronique, et l'impulsivité, la pathologie peut mener à des conduites actives voir des tentatives de suicide. La paranoïa est également très présente, de même que le phénomène de Splitting (voir tout en noir ou blanc sans jamais de juste milieu.)</span></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>




<footer>
    {# Inclusion du footer du site #}
    {% include 'partials/footer.html.twig' %}
</footer>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>