{#utilisation squelette#}
{% extends "base.html.twig" %}

{#Définition titre#}
{% block title %}Liste des publications{% endblock %}

{#Remplissage du body#}
{% block body %}



                            <div class="row">
                                <div class="col-12 text-center alert alert-warning">Aucune publication à afficher.</div>
                            </div>


{% endblock %}