

{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    <div>
        <h1 class="create-account">Profil</h1>
    </div>
    <section>
        <div class="row">
            <div class="ms-auto mb-2 mb-lg-0">
                 <div class="container-fluid">
                      <div class="profil-section">

                          <div class="row">
                              <div class="col-12 col-md-10 mx-auto">
                                  <div class="row">

                                      {# Bloc de gauche #}
                                      <div class="col-12 col-md-3 bg-black px-2 py-3 text-center">

                                          {# Image de profil #}
                                          <div class="row">
                                              <div class="col-10 mx-auto d-flex left-bloc-profil justify-content-center align-items-center">

                                                      <img class="img-thumbnail" src="#" alt="">

                                              </div>
                                          </div>

                                          {# Lien vers la page permettant de changer de photo de profil #}
                                          <div class="row">
                                              <div class="col-12 pt-3">
                                                  <a href="#" class="text-dark text-decoration-none">Modifier la photo de profil</a>
                                              </div>
                                          </div>

                                      </div>

                                      {# Bloc de droite #}
                                      <div class="col-12 col-md-9 px-2 py-3 right-bloc-profil d-flex justify-content-center align-items-center">

                                          {# Infos du compte #}
                                          <ul class="list-group col-12 col-md-8 p-0 w-100">
                                              <li class="list-group-item bg-black text-dark">Pseudo : <span class="text-info text-light">###</span></li>
                                              <li class="list-group-item bg-black text-dark">Age : <span class="text-info text-light">###</span></li>
                                              <li class="list-group-item bg-black text-dark">Date d'inscription : <span class="text-info text-light">###</span></li>
                                              <li class="list-group-item bg-black text-dark">
                                                  Rôle :
                                                  <span class="text-info text-light">{{  is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Utilisateur' }}</span>
                                              </li>
                                          </ul>

                                      </div>

                                  </div>
                              </div>
                          </div>

                          <div>
                              <img class="fleur-profil" src="{{ asset('../../images/pleu-profil2.png') }}" alt="">
                          </div>

                       </div>
                 </div>
            </div>
    </div>
</section>
{%  endblock %}