<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {#  Affichage titre venant de la vue (bloc title) + nom du site  #}
    <title>Erreur 403</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ysabeau+Office:ital,wght@0,1;0,100;0,200;0,300;1,1;1,100;1,200&family=Ysabeau+SC:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/{{ asset('styles/styles.css') }}">
    {#  CSS additionnel  #}
    {% include 'partials/css_stronger_than_bootstrap.html.twig' %}
</head>

{# Inclusion de la bannière et du menu principal du site #}
{% include 'partials/header_and_main_navbar.html.twig' %}
<body>

<h1 class="error">Erreur 403</h1>

<p class="error-message">Vous ne possédez pas les droit pour accéder à ce contenu</p>



<footer>
    {# Inclusion du footer du site #}
    {% include 'partials/footer.html.twig' %}
</footer>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>